<div class="container">    
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= user.name %> </p>

    <p class="lead mb-3">Current Activity Sessions:</p>
    <ul>
    <% sessions.forEach(function(session) { %>
        <li> 
            SessionID: <%= session.SessionID %> <br> 
            UserID: <%= session.UserID %>
            <a style="display: block; width: 10%;" href="/destroy/<%= session.SessionID %>" class="btn btn-secondary">Revoke</a>
        </li>
    <% }); %>
    </ul>

    <a href="/auth/logout" class="btn btn-secondary">Logout</a>
</div>